extends layout

block content
  div.wrapper
    h1= title
    p Welcome to #{title}
    <input class="input" placeholder='введие имя'>
    button кликни
  <script src='javascripts/script.js'></script>
